일별시세 페이지 분석

In [1]:
index_cd = 'KPI200'
page_n = 1
naver_index = 'http://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)

In [2]:
from urllib.request import urlopen  
source = urlopen(naver_index).read()
source

b'\n\n\n\n\n\n\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>\xb3\xd7\xc0\xcc\xb9\xf6 \xb1\xdd\xc0\xb6</title>\n<link rel="stylesheet" type="text/css" href="/css/newstock.css?20200720195029">\n<link rel="stylesheet" type="text/css" href="/css/common.css?20200720195029">\n<link rel="stylesheet" type="text/css" href="/css/layout.css?20200720195029">\n<link rel="stylesheet" type="text/css" href="/css/main.css?20200720195029">\n<link rel="stylesheet" type="text/css" href="/css/newstock2.css?20200720195029">\n<link rel="stylesheet" type="text/css" href="/css/newstock3.css?20200720195029">\n<link rel="stylesheet" type="text/css" href="/css/world.css?20200720195029">\n</head>\n<body>\n<script type="text/javascript" src="/js/jindo.min.ns.1.5.3.euckr.js?20200720195029"></script>\n<script type="text/javascript" src="/js/lcslog.js?20200720195029"></script>\n\t\t\t\t<!-- \xc0\xcf\xba\xb0\xbd\xc3\xbc\xbc -->\n\t\t\t\t<div class="box_type_m">\n\t\t\t\t\t<h4 class="top_tlt" style="text-align:left;"><em>\xc0\xcf\xba\xb0</em>\xbd\xc3\xbc\xbc</h4>\n\t\t\t\t\t<table summary="\xc0\xcf\xba\xb0 \xbd\xc3\xbc\xbc\xc7\xa5:\xb3\xaf\xc2\xa5\xbf\xa1 \xb5\xfb\xb8\xa5 \xc3\xbc\xb0\xe1\xb0\xa1 \xc0\xfc\xc0\xcf\xba\xf1 \xb5\xee\xb6\xf4\xb7\xfc \xb0\xc5\xb7\xa1\xb7\xae \xb0\xc5\xb7\xa1\xb4\xeb\xb1\xdd \xc1\xa4\xba\xb8\xb8\xa6 \xc1\xa6\xb0\xf8\xc7\xd5\xb4\xcf\xb4\xd9." cellpadding="0" cellspacing="0" class="type_1">\n\t\t\t\t\t<caption>\xc0\xcf\xba\xb0\xbd\xc3\xbc\xbc</caption>\n\t\t\t\t\t<col width="15%"><col width="14%"><col width="18%"><col width="14%"><col width="*"><col width="18%">\n\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<th>\xb3\xaf\xc2\xa5</th>\n\t\t\t\t\t\t\t<th>\xc3\xbc\xb0\xe1\xb0\xa1</th>\n\t\t\t\t\t\t\t<th>\xc0\xfc\xc0\xcf\xba\xf1</th>\n\t\t\t\t\t\t\t<th>\xb5\xee\xb6\xf4\xb7\xfc</th>\n\t\t\t\t\t\t\t<th>\xb0\xc5\xb7\xa1\xb7\xae<span class="add_txt">(\xc3\xb5\xc1\xd6)</span></th>\n\t\t\t\t\t\t\t<th>\xb0\xc5\xb7\xa1\xb4\xeb\xb1\xdd<span class="add_txt">(\xb9\xe9\xb8\xb8)</span></th>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t<tr><td colspan="6" class="blank_07"></td></tr>\n\n\t\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td class="date">2020.07.24</td>\n\t\t\t\t\t\t<td class="number_1">290.66</td>\n\t\t\t\t\t\t<td class="rate_down" style="padding-right:35px;">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="\xc7\xcf\xb6\xf4"><span class="tah p11 nv01">\n\t\t\t\t1.71\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1">\n\t\t\t\t<span class="tah p11 nv01">\n\t\t\t\t-0.58%\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:40px;">216,209</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:30px;">9,899,343</td>\n\t\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td class="date">2020.07.23</td>\n\t\t\t\t\t\t<td class="number_1">292.37</td>\n\t\t\t\t\t\t<td class="rate_down" style="padding-right:35px;">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="\xc7\xcf\xb6\xf4"><span class="tah p11 nv01">\n\t\t\t\t1.67\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1">\n\t\t\t\t<span class="tah p11 nv01">\n\t\t\t\t-0.57%\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:40px;">250,981</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:30px;">11,127,156</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td class="date">2020.07.22</td>\n\t\t\t\t\t\t<td class="number_1">294.04</td>\n\t\t\t\t\t\t<td class="rate_down" style="padding-right:35px;">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="\xc7\xcf\xb6\xf4"><span class="tah p11 nv01">\n\t\t\t\t1.12\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1">\n\t\t\t\t<span class="tah p11 nv01">\n\t\t\t\t-0.38%\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:40px;">327,318</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:30px;">10,214,872</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr><td colspan="6" class="blank_08"></td></tr>\n\t\t\t\t\t<tr><td colspan="6" class="division_line"></td></tr>\n\t\t\t\t\t<tr><td colspan="6" class="blank_08"></td></tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td class="date">2020.07.21</td>\n\t\t\t\t\t\t<td class="number_1">295.16</td>\n\t\t\t\t\t\t<td class="rate_down" style="padding-right:35px;">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="\xbb\xf3\xbd\xc2"><span class="tah p11 red02">\n\t\t\t\t4.35\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1">\n\t\t\t\t<span class="tah p11 red01">\n\t\t\t\t+1.50%\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:40px;">366,994</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:30px;">11,478,894</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td class="date">2020.07.20</td>\n\t\t\t\t\t\t<td class="number_1">290.81</td>\n\t\t\t\t\t\t<td class="rate_down" style="padding-right:35px;">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="\xc7\xcf\xb6\xf4"><span class="tah p11 nv01">\n\t\t\t\t0.76\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1">\n\t\t\t\t<span class="tah p11 nv01">\n\t\t\t\t-0.26%\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:40px;">161,819</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:30px;">8,011,400</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td class="date">2020.07.17</td>\n\t\t\t\t\t\t<td class="number_1">291.57</td>\n\t\t\t\t\t\t<td class="rate_down" style="padding-right:35px;">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="\xbb\xf3\xbd\xc2"><span class="tah p11 red02">\n\t\t\t\t2.32\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1">\n\t\t\t\t<span class="tah p11 red01">\n\t\t\t\t+0.80%\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:40px;">118,643</td>\n\t\t\t\t\t\t<td class="number_1" style="padding-right:30px;">6,363,758</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\n\n\t\t\t\t\t<tr><td colspan="6" class="blank_09"></td></tr>\n\t\t\t\t\t<tr><td colspan="6" class="division_line"></td></tr>\n\t\t\t\t\t</table>\n\t\t\t\t<!--- \xc6\xe4\xc0\xcc\xc1\xf6 \xb3\xd7\xba\xf1\xb0\xd4\xc0\xcc\xbc\xc7 \xbd\xc3\xc0\xdb--->\n\t\t\t\t<table summary="\xc6\xe4\xc0\xcc\xc1\xf6 \xb3\xd7\xba\xf1\xb0\xd4\xc0\xcc\xbc\xc7 \xb8\xae\xbd\xba\xc6\xae" class="Nnavi" align="center">\n\t\t\t\t<caption>\xc6\xe4\xc0\xcc\xc1\xf6 \xb3\xd7\xba\xf1\xb0\xd4\xc0\xcc\xbc\xc7</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=11"  >\n\t\t\t\t\xb4\xd9\xc0\xbd<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=600"  >\xb8\xc7\xb5\xda\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- \xc6\xe4\xc0\xcc\xc1\xf6 \xb3\xd7\xba\xf1\xb0\xd4\xc0\xcc\xbc\xc7 \xb3\xa1--->\n\t\t\t\t</div>\n\t\t\t\t<!-- //\xc0\xcf\xba\xb0\xbd\xc3\xbc\xbc -->\n\t\t\t\t\n<script type="text/javascript">\n    ;(function(){\n        var eventType = "onpageshow" in window ? "pageshow" : "load";\n        jindo.$Fn(function(){\n            lcs_do();\n        }).attach(window, eventType);\n    })();\n</script>\n\n</body>\n</html>'

In [3]:
import bs4
source = bs4.BeautifulSoup(source, 'lxml')

In [4]:
print(source.prettify())

<html lang="ko">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>
   네이버 금융
  </title>
  <link href="/css/newstock.css?20200720195029" rel="stylesheet" type="text/css"/>
  <link href="/css/common.css?20200720195029" rel="stylesheet" type="text/css"/>
  <link href="/css/layout.css?20200720195029" rel="stylesheet" type="text/css"/>
  <link href="/css/main.css?20200720195029" rel="stylesheet" type="text/css"/>
  <link href="/css/newstock2.css?20200720195029" rel="stylesheet" type="text/css"/>
  <link href="/css/newstock3.css?20200720195029" rel="stylesheet" type="text/css"/>
  <link href="/css/world.css?20200720195029" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <script src="/js/jindo.min.ns.1.5.3.euckr.js?20200720195029" type="text/javascript">
  </script>
  <script src="/js/lcslog.js?20200720195029" type="text/javascript">
  </script>
  <!-- 일별시세 -->
  <div class="box_type_m">
   <h4 class="top_tlt" style="text-align:left;">
    <em>
     일별
    </em>
    시세
   </h4>
   <table cellpadding="0" cellspacing="0" class="type_1" summary="일별 시세표:날짜에 따른 체결가 전일비 등락률 거래량 거래대금 정보를 제공합니다.">
    <caption>
     일별시세
    </caption>
    <col width="15%"/>
    <col width="14%"/>
    <col width="18%"/>
    <col width="14%"/>
    <col width="*"/>
    <col width="18%"/>
    <tr>
     <th>
      날짜
     </th>
     <th>
      체결가
     </th>
     <th>
      전일비
     </th>
     <th>
      등락률
     </th>
     <th>
      거래량
      <span class="add_txt">
       (천주)
      </span>
     </th>
     <th>
      거래대금
      <span class="add_txt">
       (백만)
      </span>
     </th>
    </tr>
    <tr>
     <td class="blank_07" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="date">
      2020.07.24
     </td>
     <td class="number_1">
      290.66
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       1.71
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.58%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      216,209
     </td>
     <td class="number_1" style="padding-right:30px;">
      9,899,343
     </td>
    </tr>
    <tr>
     <td class="date">
      2020.07.23
     </td>
     <td class="number_1">
      292.37
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       1.67
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.57%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      250,981
     </td>
     <td class="number_1" style="padding-right:30px;">
      11,127,156
     </td>
    </tr>
    <tr>
     <td class="date">
      2020.07.22
     </td>
     <td class="number_1">
      294.04
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       1.12
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.38%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      327,318
     </td>
     <td class="number_1" style="padding-right:30px;">
      10,214,872
     </td>
    </tr>
    <tr>
     <td class="blank_08" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="division_line" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="blank_08" colspan="6">
     </td>
    </tr>
    <tr>
    </tr>
    <tr>
     <td class="date">
      2020.07.21
     </td>
     <td class="number_1">
      295.16
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       4.35
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +1.50%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      366,994
     </td>
     <td class="number_1" style="padding-right:30px;">
      11,478,894
     </td>
    </tr>
    <tr>
     <td class="date">
      2020.07.20
     </td>
     <td class="number_1">
      290.81
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       0.76
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.26%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      161,819
     </td>
     <td class="number_1" style="padding-right:30px;">
      8,011,400
     </td>
    </tr>
    <tr>
     <td class="date">
      2020.07.17
     </td>
     <td class="number_1">
      291.57
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       2.32
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +0.80%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      118,643
     </td>
     <td class="number_1" style="padding-right:30px;">
      6,363,758
     </td>
    </tr>
    <tr>
     <td class="blank_09" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="division_line" colspan="6">
     </td>
    </tr>
   </table>
   <!--- 페이지 네비게이션 시작--->
   <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
    <caption>
     페이지 네비게이션
    </caption>
    <tr>
     <td class="on">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=1">
       1
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=2">
       2
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=3">
       3
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=4">
       4
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=5">
       5
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=6">
       6
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=7">
       7
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=8">
       8
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=9">
       9
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=10">
       10
      </a>
     </td>
     <td class="pgR">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=11">
       다음
       <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
      </a>
     </td>
     <td class="pgRR">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=600">
       맨뒤
       <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
      </a>
     </td>
    </tr>
   </table>
   <!--- 페이지 네비게이션 끝--->
  </div>
  <!-- //일별시세 -->
  <script type="text/javascript">
   ;(function(){
        var eventType = "onpageshow" in window ? "pageshow" : "load";
        jindo.$Fn(function(){
            lcs_do();
        }).attach(window, eventType);
    })();
  </script>
 </body>
</html>

In [5]:
td = source.find_all('td')
len(td)

54

날짜 추출

In [6]:
# /html/body/div/table[1]/tbody/tr[3]/td[1]
source.find_all('table')[0].find_all('tr')[2].find_all('td')[0]

In [7]:
d = source.find_all('td', class_='date')[0].text
d

'2020.07.24'

In [8]:
import datetime as dt

In [9]:
yyyy = int(d.split('.')[0]) 
mm = int(d.split('.')[1])
dd = int(d.split('.')[2])

this_date= dt.date(yyyy, mm, dd)
this_date

datetime.date(2020, 7, 24)

날짜정보를  date 타입으로 변경하는 함수 정의

In [10]:
def date_format(d):
    d = str(d).replace('-', '.')
    
    yyyy = int(d.split('.')[0]) 
    mm = int(d.split('.')[1])
    dd = int(d.split('.')[2])

    this_date= dt.date(yyyy, mm, dd)
    return this_date

종가 추출

In [11]:
# /html/body/div/table[1]/tbody/tr[3]/td[2]

In [12]:
this_close = source.find_all('tr')[2].find_all('td')[1].text
this_close = this_close.replace(',', '')
this_close = float(this_close)
this_close

290.66

In [13]:
p = source.find_all('td', class_='number_1')[0].text
p

'290.66'

페이지 상의 날짜와 종가정보 전체 추출

In [14]:
dates = source.find_all('td', class_='date')
prices = source.find_all('td', class_='number_1')

In [15]:
len(dates)

6

In [16]:
len(prices)

24

In [17]:
for n in range(len(dates)):
    this_date = dates[n].text
    this_date = date_format(this_date)
    
    this_close = prices[n*4].text   
    # 0, 4, 8, ... 4의 배수로 돌아가는 가격 추출
    this_close = this_close.replace(',', '')
    this_close = float(this_close)
    this_close
    
    print(this_date, this_close)

2020-07-24 290.66
2020-07-23 292.37
2020-07-22 294.04
2020-07-21 295.16
2020-07-20 290.81
2020-07-17 291.57

마지막 페이지 번호 찾기

In [18]:
# /html/body/div/table[2]/tbody/tr/td[7]/a

In [19]:
paging = source.find('td', class_='pgRR').find('a')['href']
paging

'/sise/sise_index_day.nhn?code=KPI200&page=600'

In [20]:
paging = paging.split('&')[1]
paging

'page=600'

In [21]:
paging = paging.split('=')[1]
paging

'600'

In [22]:
naver_index = 'http://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(505)

source = urlopen(naver_index).read()
source = bs4.BeautifulSoup(source, 'lxml')

if source.find('td', class_='pgRR'):
    last_page = source.find('td', class_='pgRR').find('a')['href']
    last_page = last_page.split('&')[1]
    last_page = last_page.split('=')[1]
    last_page = int(last_page)

In [23]:
def historical_index_naver(index_cd, page_n=1, last_page=0):   
        
    naver_index = 'http://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)
    
    source = urlopen(naver_index).read()   # 지정한 페이지에서 코드 읽기
    source = bs4.BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류
    
    dates = source.find_all('td', class_='date')   # <td class="date">태그에서 날짜 수집   
    prices = source.find_all('td', class_='number_1')   # <td class="number_1">태그에서 지수 수집
    
    for n in range(len(dates)):
    
        if dates[n].text.split('.')[0].isdigit():
            
            # 날짜 처리
            this_date = dates[n].text
            this_date= date_format(this_date)
            
            # 종가 처리
            this_close = prices[n*4].text   # prices 중 종가지수인 0,4,8,...번째 데이터 추출
            this_close = this_close.replace(',', '')
            this_close = float(this_close)

            # 딕셔너리에 저장
            historical_prices[this_date] = this_close
            
    # 페이지 네비게이션
    if last_page == 0:
        last_page = source.find('td', class_='pgRR').find('a')['href']
        # 마지막페이지 주소 추출
        last_page = last_page.split('&')[1]   # & 뒤의 page=506 부분 추출
        last_page = last_page.split('=')[1]   # = 뒤의 페이지번호만 추출
        last_page = int(last_page)   # 숫자형 변수로 변환
        
    # 다음 페이지 호출
    if page_n < last_page:   
        page_n = page_n + 1   
        historical_index_naver(index_cd, start_date, end_date, page_n, last_page)   
        
    return historical_prices

네이버에서 일자별 인덱스를 추출하는 함수 정의

In [24]:
def historical_index_naver(index_cd, start_date='', end_date='', page_n=1, last_page=0):
    
    if start_date:   # start_date가 있으면
        start_date = date_format(start_date)   # date 포맷으로 변환
    else:    # 없으면
        start_date = dt.date.today()   # 오늘 날짜를 지정
    if end_date:   
        end_date = date_format(end_date)   
    else:   
        end_date = dt.date.today()  
        
        
    naver_index = 'http://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)
    
    source = urlopen(naver_index).read()   # 지정한 페이지에서 코드 읽기
    source = bs4.BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류
    
    dates = source.find_all('td', class_='date')   # <td class="date">태그에서 날짜 수집   
    prices = source.find_all('td', class_='number_1')   # <td class="number_1">태그에서 지수 수집
    
    for n in range(len(dates)):
    
        if dates[n].text.split('.')[0].isdigit():
            
            # 날짜 처리
            this_date = dates[n].text
            this_date= date_format(this_date)
            
            if this_date <= end_date and this_date >= start_date:   
            # start_date와 end_date 사이에서 데이터 저장
                # 종가 처리
                this_close = prices[n*4].text   # prices 중 종가지수인 0,4,8,...번째 데이터 추출
                this_close = this_close.replace(',', '')
                this_close = float(this_close)

                # 딕셔너리에 저장
                historical_prices[this_date] = this_close
                
            elif this_date < start_date:   
            # start_date 이전이면 함수 종료
                return historical_prices              
            
    # 페이지 네비게이션
    if last_page == 0:
        last_page = source.find('td', class_='pgRR').find('a')['href']
        # 마지막페이지 주소 추출
        last_page = last_page.split('&')[1]   # & 뒤의 page=506 부분 추출
        last_page = last_page.split('=')[1]   # = 뒤의 페이지번호만 추출
        last_page = int(last_page)   # 숫자형 변수로 변환
        
    # 다음 페이지 호출
    if page_n < last_page:   
        page_n = page_n + 1   
        historical_index_naver(index_cd, start_date, end_date, page_n, last_page)   
        
    return historical_prices

In [25]:
index_cd = 'KPI200'
historical_prices = dict()
historical_index_naver(index_cd, '2018-4-1', '2018-4-4')
historical_prices

{datetime.date(2018, 4, 4): 308.54,
 datetime.date(2018, 4, 3): 313.38,
 datetime.date(2018, 4, 2): 314.0}

# 다음에서 해외지수 추출 (다음 사이트 개편으로 네이버로 대체합니다)

본 섹션의 내용은 다음 금융사이트 개편으로 사용이 불가해져, 네이버에서 해외지수 추출로 대체합니다.

url = 'http://finance.daum.net/global/index_daily.daum?type=default&ric=/.GSPC&page=1' 
    
source = urlopen(url).read()
source = bs4.BeautifulSoup(source, 'lxml')

dates = source.find_all('td', class_='datetime')
dates

prices = source.find_all('td', class_='num')
print(len(dates))
print(len(prices))

prices[0].text

def historical_global_daum(index_cd, start_date='', end_date='', page_n=1, last_page=0):
    
    if start_date:   # start_date가 있으면
        start_date = date_format(start_date)   # date 포맷으로 변환
    else:    # 없으면
        start_date = dt.date.today()   # 오늘 날짜를 지정
    if end_date:  
        end_date = date_format(end_date)   
    else:   
        end_date = dt.date.today()  
    
    url = 'http://finance.daum.net/global/index_daily.daum?type=default&ric=/.' + index_cd + '&page=' + str(page_n)

    source = urlopen(url).read()
    source = bs4.BeautifulSoup(source, 'lxml')

    dates = source.find_all('td', class_='datetime')   # <td class="datetime">태그에서 날짜 수집
    prices = source.find_all('td', class_='num')   # <td class="num">태그에서 날짜 수집

    rows_in_page = len(dates)

    if len(dates) > 0:

        for n in range(rows_in_page):

            # 날짜 처리
            this_date = dates[n].text
            this_date= date_format(this_date)

            if this_date <= end_date and this_date >= start_date:   
            # start_date와 end_date 사이에서 데이터 저장
                # 종가 처리
                this_close = prices[n*3].text
                this_close = this_close.replace(' ', '')
                this_close = this_close.replace('\t', '')
                this_close = this_close.replace('\n', '')
                this_close = this_close.replace(',', '')
                this_close = float(this_close)

                # 딕셔너리에 저장
                historical_prices[this_date] = this_close
                
            elif this_date < start_date:   
            # start_date 이전이면 함수 종료
                return historical_prices                         
        # 페이지 네비게이션
        if rows_in_page == 10:
            page_n = int(page_n)
            page_n = page_n + 1
            
            historical_global_daum(index_cd, start_date, end_date, page_n, last_page)
            
    return historical_prices

historical_prices = dict()
daum = historical_global_daum('GSPC', '2018-4-1', '2018-4-5')
daum

# 네이버에서 해외지수 추출하기 (다음 해외지수 대체)

In [26]:
import pandas as pd
from urllib.request import urlopen
import json   # 해외지수는 json 형태로 표출됨

In [27]:
symbol = 'NII@NI225'
page = 1

In [28]:
url = 'https://finance.naver.com/world/worldDayListJson.nhn?symbol='+symbol+'&fdtc=0&page='+str(page)
raw = urlopen(url)
data = json.load(raw)

In [29]:
data[0]

{'symb': 'NII@NI225',
 'xymd': '20200722',
 'open': 22791.75,
 'high': 22855.31,
 'low': 22732.92,
 'clos': 22751.61,
 'diff': -132.61,
 'rate': -0.58,
 'gvol': 65364200}

In [30]:
data[0]['symb']

'NII@NI225'

In [31]:
data[0]['xymd']

'20200722'

In [32]:
data[0]['clos']

22751.61

In [33]:
len(data)

10

In [34]:
d = dict()
for n in range(len(data)):
    date = pd.to_datetime(data[n]['xymd']).date()
    price = float(data[n]['clos'])
    d[date] = price
print(d)

{datetime.date(2020, 7, 22): 22751.61, datetime.date(2020, 7, 21): 22884.22, datetime.date(2020, 7, 20): 22717.48, datetime.date(2020, 7, 17): 22696.42, datetime.date(2020, 7, 16): 22770.36, datetime.date(2020, 7, 15): 22945.5, datetime.date(2020, 7, 14): 22587.01, datetime.date(2020, 7, 13): 22784.74, datetime.date(2020, 7, 10): 22290.81, datetime.date(2020, 7, 9): 22529.29}

In [35]:
def read_json(d, symbol, page=1):
    url = 'https://finance.naver.com/world/worldDayListJson.nhn?symbol='+symbol+'&fdtc=0&page='+str(page)
    raw = urlopen(url)
    data = json.load(raw)
    
    for n in range(len(data)):
        date = pd.to_datetime(data[n]['xymd']).date()
        price = float(data[n]['clos'])
        d[date] = price
        
    if len(data) == 10 and page<3:
        page += 1
        read_json(d, symbol, page)
        
    return (d)

In [36]:
historical_index = pd.Series()
historical_index = read_json(historical_index, symbol, page)

In [37]:
historical_index.head(3)

2020-07-22    22751.61
2020-07-21    22884.22
2020-07-20    22717.48
dtype: float64

In [38]:
indices = {
    'SPI@SPX' : 'S&P 500', 
    'NAS@NDX' : 'Nasdaq 100', 
    'NII@NI225' : 'Nikkei 225'
}

In [39]:
historical_indices = dict()
for key, value in indices.items(): 
    print (key, value)
    s = dict()
    s = read_json(s, key, 1)
    historical_indices[value] = s    
prices_df = pd.DataFrame(historical_indices)

SPI@SPX S&P 500
NAS@NDX Nasdaq 100
NII@NI225 Nikkei 225

In [40]:
prices_df.tail(3)

            S&P 500  Nasdaq 100  Nikkei 225
2020-07-22  3276.02    10870.75    22751.61
2020-07-23  3235.66    10580.59         NaN
2020-07-24  3215.63    10483.13         NaN

In [41]:
def date_format(d=''):
    if d != '':
        this_date = pd.to_datetime(d).date()
    else:
        this_date = pd.Timestamp.today().date()   # 오늘 날짜를 지정
    return (this_date)

In [42]:
def index_global(d, symbol, start_date='', end_date='', page=1):

    end_date = date_format(end_date)
    if start_date == '':
        start_date = end_date - pd.DateOffset(months=1)
    start_date = date_format(start_date)
        
    url = 'https://finance.naver.com/world/worldDayListJson.nhn?symbol='+symbol+'&fdtc=0&page='+str(page)
    raw = urlopen(url)
    data = json.load(raw)
    
    if len(data) > 0:
        
        for n in range(len(data)):
            date = pd.to_datetime(data[n]['xymd']).date()

            if date <= end_date and date >= start_date:   
            # start_date와 end_date 사이에서 데이터 저장
                # 종가 처리
                price = float(data[n]['clos'])
                # 딕셔너리에 저장
                d[date] = price
            elif date < start_date:   
            # start_date 이전이면 함수 종료
                return (d)              

        if len(data) == 10:
            page += 1
            index_global(d, symbol, start_date, end_date, page)
        
    return (d)

In [43]:
historical_indices = dict()
start_date = '2019-01-01'
end_date = '2019-3-31'
for key, value in indices.items(): 
    s = dict()
    s = index_global(s, key, start_date)
    historical_indices[value] = s    
prices_df = pd.DataFrame(historical_indices)

In [44]:
prices_df

            S&P 500  Nasdaq 100  Nikkei 225
2019-01-02  2510.03     6360.87         NaN
2019-01-03  2447.89     6147.13         NaN
2019-01-04  2531.94     6422.67    19561.96
2019-01-07  2549.69     6488.25    20038.97
2019-01-08  2574.41     6551.85    20204.04
2019-01-09  2584.96     6600.69    20427.06
2019-01-10  2596.64     6620.94    20163.80
2019-01-11  2596.26     6601.40    20359.70
2019-01-14  2582.61     6541.04         NaN
2019-01-15  2610.30     6669.64    20555.29
2019-01-16  2616.10     6668.56    20442.75
2019-01-17  2635.96     6718.45    20402.27
2019-01-18  2670.71     6784.61    20666.07
2019-01-21      NaN         NaN    20719.33
2019-01-22  2632.90     6646.81    20622.91
2019-01-23  2638.70     6658.76    20593.72
2019-01-24  2642.33     6702.55    20574.63
2019-01-25  2664.76     6787.37    20773.56
2019-01-28  2643.85     6697.09    20649.00
2019-01-29  2640.00     6632.79    20664.64
2019-01-30  2681.05     6807.91    20556.54
2019-01-31  2704.10     6906.84    20773.49
2019-02-01  2706.53     6875.52    20788.39
2019-02-04  2724.87     6959.96    20883.77
2019-02-05  2737.70     7023.52    20844.45
2019-02-06  2731.61     6997.62    20874.06
2019-02-07  2706.05     6904.98    20751.28
2019-02-08  2707.88     6913.13    20333.17
2019-02-11  2709.80     6909.19         NaN
2019-02-12  2744.73     7014.67    20864.21
...             ...         ...         ...
2020-06-15  3066.59     9776.89    21530.95
2020-06-16  3124.74     9949.37    22582.21
2020-06-17  3113.49     9982.48    22455.76
2020-06-18  3115.34    10012.05    22355.46
2020-06-19  3097.74    10008.64    22478.79
2020-06-22  3117.86    10130.33    22437.27
2020-06-23  3131.29    10209.82    22549.05
2020-06-24  3050.33    10002.70    22534.32
2020-06-25  3083.76    10101.83    22259.79
2020-06-26  3009.05     9849.36    22512.08
2020-06-29  3053.24     9961.16    21995.04
2020-06-30  3100.29    10156.85    22288.14
2020-07-01  3115.86    10279.25    22121.73
2020-07-02  3130.01    10341.89    22145.96
2020-07-03      NaN         NaN    22306.48
2020-07-06  3179.72    10604.06    22714.44
2020-07-07  3145.32    10524.01    22614.69
2020-07-08  3169.94    10666.70    22438.65
2020-07-09  3152.05    10754.59    22529.29
2020-07-10  3185.04    10836.33    22290.81
2020-07-13  3155.22    10602.21    22784.74
2020-07-14  3197.52    10689.52    22587.01
2020-07-15  3226.56    10701.68    22945.50
2020-07-16  3215.57    10626.46    22770.36
2020-07-17  3224.73    10645.22    22696.42
2020-07-20  3251.84    10952.08    22717.48
2020-07-21  3257.30    10833.07    22884.22
2020-07-22  3276.02    10870.75    22751.61
2020-07-23  3235.66    10580.59         NaN
2020-07-24  3215.63    10483.13         NaN

[407 rows x 3 columns]

# 만들어둔 함수를 이용해 KOSPI200과 S&P500 지수 추출

In [45]:
index_cd = 'KPI200'
historical_prices = dict()
kospi200 = historical_index_naver(index_cd, '2017-1-1', '2017-12-31')

In [ ]:
index_cd = 'SPI@SPX'
historical_prices = dict()
sp500 = index_global(historical_prices, index_cd, '2017-1-1', '2017-12-31')    # 대체 코드
# sp500 = historical_global_daum(index_cd, '2017-1-1', '2017-12-31')    # 이전 코드

In [ ]:
tmp = {'S&P500':sp500, 'KOSPI200':kospi200}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(tmp)
df

In [ ]:
df = df.fillna(method='ffill')
if df.isnull().values.any():
    df = df.fillna(method='bfill')
df

In [ ]:
df.head()

In [ ]:
index_cd = 'KPI200'
historical_prices = dict()
kospi200 = historical_index_naver(index_cd, '2008-1-1', '2017-12-31')

In [ ]:
index_cd = 'SPI@SPX'
historical_prices = dict()
sp500 = index_global(historical_prices, index_cd, '2008-1-1', '2017-12-31')    # 대체 코드
# sp500 = historical_global_daum(index_cd, '2008-1-1', '2017-12-31')     # 이전 코드

In [ ]:
tmp = {'S&P500':sp500, 'KOSPI200':kospi200}

In [ ]:
df = pd.DataFrame(tmp)
df

In [ ]:
df = df.fillna(method='ffill')
if df.isnull().values.any():
    df = df.fillna(method='bfill')
df

# matplotlib를 이용해 그래프 그리기

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.figure(figsize=(10, 5))
plt.plot(df['S&P500'])
plt.plot(df['KOSPI200'])
plt.legend(loc=0)
plt.grid(True, color='0.7', linestyle=':', linewidth=1)

In [ ]:
df.iloc[0]

In [ ]:
df.loc[dt.date(2008, 1, 2)]

In [ ]:
plt.figure(figsize=(10, 5))
plt.plot(df['S&P500'] / df['S&P500'].loc[dt.date(2008, 1, 2)] * 100)
plt.plot(df['KOSPI200'] / df['KOSPI200'].loc[dt.date(2008, 1, 2)] * 100)
plt.legend(loc=0)
plt.grid(True, color='0.7', linestyle=':', linewidth=1)

In [ ]:
df_ratio_2016_now = df.loc[dt.date(2016, 1, 1):] / df.loc[dt.date(2016, 1, 4)] * 100
df_ratio_2016_now.head(3)

In [ ]:
plt.figure(figsize=(10, 5))
plt.plot(df_ratio_2016_now['S&P500'])
plt.plot(df_ratio_2016_now['KOSPI200'])
plt.legend(loc=0)
plt.grid(True, color='0.7', linestyle=':', linewidth=1)

In [ ]:
plt.figure(figsize=(7,7))
plt.scatter(df_ratio_2016_now['S&P500'], df_ratio_2016_now['KOSPI200'], marker='.')
plt.grid(True, color='0.7', linestyle=':', linewidth=1)
plt.xlabel('S&P500')
plt.ylabel('KOSPI200')

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

x = df_ratio_2016_now['S&P500']
y = df_ratio_2016_now['KOSPI200']

# 1개 컬럼 np.array로 변환
independent_var = np.array(x).reshape(-1, 1)
dependent_var = np.array(y).reshape(-1, 1)

# Linear Regression
regr = LinearRegression()
regr.fit(independent_var, dependent_var)

result = {'Slope':regr.coef_[0,0], 'Intercept':regr.intercept_[0], 'R^2':regr.score(independent_var, dependent_var) }
result

In [ ]:
plt.figure(figsize=(7,7))
plt.scatter(independent_var, dependent_var, marker='.', color='skyblue')
plt.plot(independent_var, regr.predict(independent_var), color='r', linewidth=3)
plt.grid(True, color='0.7', linestyle=':', linewidth=1)
plt.xlabel('S&P500')
plt.ylabel('KOSPI200')