- 레코드로서의 튜플

In [2]:
lax_coordinates = (33.9425,-118.408056)

In [3]:
city, year, pop, chg, area = ('Tokyo',2003,32450,0.66,8014)

In [4]:
traveler_ids = [('USA','31195855'),('BRA','CE342567'),('ESp','XDA205856')]

In [8]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESp/XDA205856
USA/31195855

In [9]:
for country,_ in traveler_ids:
    print(country)

USA
BRA
ESp

- 튜플 언패킹

In [11]:
latitude , longtitude = lax_coordinates

In [12]:
latitude

33.9425

In [13]:
longtitude

-118.408056

- tmp 없이 값 swap

In [14]:
latitude, longtitude = longtitude ,latitude

In [15]:
latitude

-118.408056

In [16]:
longtitude

33.9425

In [17]:
divmod(20,8)

(2, 4)

In [18]:
t = (20,8)

In [20]:
divmod(*t)

(2, 4)

In [21]:
a,b = divmod(*t)

In [22]:
a

2

In [23]:
b

4

In [25]:
import os

In [26]:
_, filename = os.path.split('"01. 카드 한벌.ipynb"')

In [27]:
filename

'"01. 카드 한벌.ipynb"'

- *값을 사용하면 파라미터에 배열이나 리스트 같은 자료형을 넣을 수 있다.

In [33]:
a,b,rest=range(3)

In [34]:
print(a,b,rest)

0 1 2

In [35]:
a,b,*rest=range(5)

In [36]:
print(a,b,rest)

0 1 [2, 3, 4]

In [37]:
a,b,*rest=range(3)

In [38]:
print(a,b,rest)

0 1 [2]

In [39]:
a,b,*rest=range(2)

In [40]:
print(a,b,rest)

0 1 []

- 내포된 튜플 언패킹

In [41]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),   # <1>
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [42]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))

                |   lat.    |   long.

In [43]:
fmt = '{:15} | {:9.4f} | {:9.4f}'

In [44]:
for name,cc,pop,(latitude,longtitude) in metro_areas:
    if longtitude<=0:
        print(fmt.format(name,latitude,longtitude))

Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [45]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name,cc,pop,(latitude,longtitude) in metro_areas:
    if longtitude<=0:
        print(fmt.format(name,latitude,longtitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

* 명명된 튜플(collections.namedtuple())

In [46]:
from collections import namedtuple

In [47]:
city = namedtuple('City','name country population coordinates')

In [49]:
tokyo = city('Tokyo','JP',36.933,(35.689722,139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [50]:
tokyo.population

36.933

In [51]:
tokyo[0]

'Tokyo'

In [52]:
tokyo[-1]

(35.689722, 139.691667)

In [53]:
city._fields

('name', 'country', 'population', 'coordinates')

In [54]:
LatLong = namedtuple('LatLong','lat long')

In [55]:
delhi_data = ('Delhi NCR','IN',21.935,LatLong(28.613889,77.208889))

In [56]:
delhi=city._make(delhi_data)

In [57]:
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

In [58]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [59]:
for key,value in delhi._asdict().items():
    print( key + ':',value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)