# 배열
* 데이터를 나열하고, 각 데이터를 대응하도록 구성한 데이터 구조
* 파이썬에서는 리스트 타입이 배열 기능을 제공하고 있음

## 1. 배열이 왜 필요할까?
- 같은 종류의 데이터를 효율적으로 관리하게 위해 사용
- 같은 종류의 데이터를 순차적으로 저장

* 배열의 장점:
    - 빠른 접근 가능

* 배열의 단점:
    - 추가 삭제가 쉽지않음
    - 미리 최대 길이를 지정해야함

## 2. 파이썬과 배열
- 파이썬 리스트 활용

In [3]:
# 1차원 배열: 리스트로 구현시
data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [4]:
# 2차원 배열: 리스트로 구현시
data  = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
print(data[0])

[1, 2, 3]

In [7]:
print(data[0][0])

1

In [8]:
print(data[1])

[4, 5, 6]

In [12]:
data[2]

9

 <div class="alert alert-block alert-warning">
<strong><font color="blue" size="3em">연습2: 위의 dataset 리스트에서 전체 이름 안에 M 은 몇 번 나왔는지 빈도수 출력하기</font></div>

In [13]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [19]:
count = 0 
for string in dataset:
    for char in string:
        if (char == 'M'):
            count = count+1
print(count)

38